@font-face {
    font-family: 'masternodeapp';
    src:  url('../fonts/masternodeapp/masternodeapp.eot?f5hktn');
    src:  url('../fonts/masternodeapp/masternodeapp.eot?f5hktn#iefix') format('embedded-opentype'),
        url('../fonts/masternodeapp/masternodeapp.ttf?f5hktn') format('truetype'),
        url('../fonts/masternodeapp/masternodeapp.woff?f5hktn') format('woff'),
        url('../fonts/masternodeapp/masternodeapp.svg?f5hktn#masternodeapp') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Light.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

[class^="tm-"], [class*=" tm-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'masternodeapp' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.tm-edit:before {
    content: "\e91b";
}
.tm-arrow-up:before {
    content: "\e900";
}
.tm-bolt:before {
    content: "\e901";
}
.tm-cog:before {
    content: "\e902";
}
.tm-cpu:before {
    content: "\e903";
}
.tm-email:before {
    content: "\e904";
}
.tm-eye:before {
    content: "\e905";
}
.tm-flag:before {
    content: "\e906";
}
.tm-github:before {
    content: "\e907";
}
.tm-linkedin:before {
    content: "\e908";
}
.tm-memory:before {
    content: "\e909";
}
.tm-search:before {
    content: "\e90a";
}
.tm-time:before {
    content: "\e90b";
}
.tm-XDC:before {
    content: "\e90c";
}
.tm-lock:before {
    content: "\e90d";
}
.tm-wallet:before {
    content: "\e90e";
}
.tm-notice:before {
    content: "\e90f";
}
.tm-close:before {
    content: "\e910";
}
.tm-profile:before {
    content: "\e911";
}
.tm-checkmark:before {
    content: "\e912";
}
.tm-dot:before {
    content: "\e913";
}
.tm-chevrons-left:before {
    content: "\e914";
}
.tm-chevron-left:before {
    content: "\e915";
}
.tm-chevrons-right:before {
    content: "\e916";
}
.tm-chevron-right:before {
    content: "\e917";
}
.tm-signer:before {
    content: "\e918";
}
.tm-dots:before {
    content: "\e919";
}
.tm-gift:before {
    content: "\e99f";
}
.tm-facebook:before {
    content: "\ea90";
}
.tm-telegram:before {
    content: "\ea95";
}
.tm-twitter:before {
    content: "\ea96";
}
.tm-reddit:before {
    content: "\e91a";
}
.tm-lifebuoy:before {
  content: "\e941";
}
.tm-checklist:before {
    content: "\ea97";
}
.tm-bell:before {
    content: "\e93c";
}
.tm-website:before {
    content: "\e91c";
}
.tm-XDC2:before {
    content: "\e91d";
}