.XDC-form {

    .input-group-append {
        background-color: var(--color-input-focus-bg);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .input-group-append .tm-XDC {
        height: 35px;
        width: 35px;
        font-size: 0;
        border-left: 1px solid rgba(80, 80, 120, 0.3607843137);
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            // line-height: 35px;
        }
    }

    .buttons {
        margin-top: 10px;

        @include media-breakpoint-down(sm) {
            button {
                margin-bottom:5px
            }
        }
    }

    .btn {
        min-width: 120px;
        margin-left: 10px;
    }

    .z-index-0 {
        z-index: 0;
    }
}

.form-control.is-invalid {
    border-color: var(--color-pink);

    &:focus {
        border-color: var(--color-pink);
        box-shadow: none;
    }
}

.XDC-form--setting {

    select.custom-select {
        width: 100%;
    }
}
