.XDC-pagination {
  border-radius: 0 0 12px 12px;
  width: 100%;
  .page-item {
    margin-right: 10px;

    &.active .page-link {
      color: $color-white;
      background-color: $color-btn-bg;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-last-child(2),
    &:last-child {
      font-size: 0;

      span:before,
      a:before {
        font-size: 16px;
        line-height: 31px;
        display: inline-block;
        vertical-align: middle;

        @extend %tm-icon;
      }
    }

    &:last-child  {
      margin: 0;
    }

    &:first-child span:before,
    &:first-child a:before {
      content: '\e914';
    }

    &:nth-child(2) span:before,
    &:nth-child(2) a:before {
      content: '\e915';
    }

    &:nth-last-child(2) span:before,
    &:nth-last-child(2) a:before {
      content: '\e917';
    }

    &:last-child span:before,
    &:last-child a:before {
      content: '\e916';
    }

    .page-link {
      color: $color-text;
      background-color: $tab-color;
      height: 31px;
      min-width: 31px;
      line-height: 31px;
      border-radius: 5px;
      text-align: center;
      border: 0px;
      padding: 0 5px;

      &:hover {
        color: $color-white;
        background-color: $color-primary;
      }
    }
  }
}
  