a {
    color: var(--color-link);
    transition: all .5s ease-in-out;
    @extend %transit;
  
    &:hover {
      // text-decoration: none;
      color: var(--color-link-hover);
    }
  
    &:focus {
      outline: none;
    }
  }